# Игнорировать папку node_modules
node_modules/

# Игнорировать скомпилированные файлы TypeScript
*.js
*.js.map

# Игнорировать сгенерированные файлы GraphQL
*.graphql.ts
*.graphql.js

# Игнорировать файлы конфигурации IDE
.vscode/
.idea/

# Игнорировать файлы среды выполнения
.env
.env.local

# Игнорировать файлы логов
logs/
*.log

# Игнорировать папку сборки
build/
dist/